<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.owj.android_xwalkview_demo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="sugo.c48d19fe57c67d4b6d80c6ec1a5e1a44"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="growing.1b01725f4854c4e2"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".XWalkViewActivity">
        </activity>

        <meta-data
            android:name="io.sugo.android.SGConfig.EnableDebugLogging"
            android:value="true"/>
        <meta-data
            android:name="io.sugo.android.SGConfig.EditorUrl"
            android:value="ws://192.168.0.212:8887/connect/"/>
        <meta-data
            android:name="io.sugo.android.SGConfig.DecideEndpoint"
            android:value="http://192.168.0.212:8000/api/sdk/decide"/>
        <meta-data
            android:name="io.sugo.android.SGConfig.token"
            android:value="c48d19fe57c67d4b6d80c6ec1a5e1a44"/>
        <meta-data
            android:name="io.sugo.android.SGConfig.ProjectId"
            android:value="com_HyoaKhQMl_project_S1HWEfaFx"/>
        <meta-data
            android:name="io.sugo.android.SGConfig.webRoot"
            android:value=""/>

        <activity android:name=".WebActivity">
        </activity>
        <activity android:name=".NativePageActivity">
        </activity>
        <activity android:name=".WXJActivity">
        </activity>
    </application>

</manifest>