<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.sugo.sdkdemo">

    <uses-sdk tools:overrideLibrary="io.sugo.android.xwalk, org.xwalk.core, com.uuzuche.lib_zxing" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="sugo.10b9ec52a298f1bc70b18ba513d17783" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.NativeActivity" />
        <activity android:name=".activity.DescriptionActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <meta-data
            android:name="io.sugo.android.SGConfig.UpdateDecideInterval"
            android:value="600000" />
        <meta-data
            android:name="io.sugo.android.SGConfig.ResourcePackageName"
            android:value="io.sugo.sdkdemo" />
        <meta-data
            android:name="io.sugo.android.SGConfig.EnableDebugLogging"
            android:value="true" />

        <!-- 设置ProjectId -->
        <meta-data
            android:name="io.sugo.android.SGConfig.ProjectId"
            android:value="com_H1bIzqK2SZ_project_SkyrwfngM" />

        <!-- 设置 Token -->
        <meta-data
            android:name="io.sugo.android.SGConfig.token"
            android:value="10b9ec52a298f1bc70b18ba513d17783" />

        <!-- 设置埋点配置地址 -->
        <meta-data
            android:name="io.sugo.android.SGConfig.APIHost"
            android:value="http://58.63.110.97:2270" />

        <!-- 设置可视化埋点地址 -->
        <meta-data
            android:name="io.sugo.android.SGConfig.EditorHost"
            android:value="ws://58.63.110.97:2227" />

        <!-- 设置数据上报地址 -->
        <meta-data
            android:name="io.sugo.android.SGConfig.EventsHost"
            android:value="http://58.63.110.97:2271" />


        <activity android:name=".activity.PrivateFuncActivity" />
        <activity android:name=".activity.DebugViewPagerActivity" />
        <activity android:name=".activity.DebugFragmentsActivity" />
        <activity android:name=".activity.TestViewActivity" />
        <activity android:name=".activity.SendTestDataActivity" />
        <activity android:name=".activity.FragmentTestActivity" />
        <activity android:name=".activity.RecyclerViewActivity"></activity>
    </application>

</manifest>