<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="io.sugo.sdkdemo">

    <uses-sdk tools:overrideLibrary="io.sugo.android.xwalk, org.xwalk.core, com.uuzuche.lib_zxing"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <data android:scheme="sugo.2dc8aa74c5727067cca466af7d966116"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.NativeActivity">
        </activity>
        <activity android:name=".activity.DescriptionActivity"/>
        <activity android:name=".activity.WebActivity">
        </activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation"/>

        <!--<meta-data-->
            <!--android:name="io.sugo.android.SGConfig.UpdateDecideInterval"-->
            <!--android:value="10000"/>-->

        <meta-data
            android:name="io.sugo.android.SGConfig.EnableDebugLogging"
            android:value="true"/>

        <meta-data
            android:name="io.sugo.android.SGConfig.ResourcePackageName"
            android:value="io.sugo.sdkdemo"/>

        <meta-data
            android:name="io.sugo.android.SGConfig.EditorUrl"
            android:value="ws://192.168.0.128:8887/connect/"/>
        <meta-data
            android:name="io.sugo.android.SGConfig.DecideEndpoint"
            android:value="http://192.168.0.128:8080/api/sdk/decide"/>

        <!--<meta-data-->
        <!--android:name="io.sugo.android.SGConfig.EditorUrl"-->
        <!--android:value="ws://58.63.110.97:8887/connect/"/>-->
        <!--<meta-data-->
        <!--android:name="io.sugo.android.SGConfig.DecideEndpoint"-->
        <!--android:value="http://astro.sugo.io/api/sdk/decide"/>-->

        <activity android:name=".activity.PrivateFuncActivity">
        </activity>
    </application>

</manifest>